body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

#searchInput {
  padding: 10px;
  width: 1443px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


th {
  background: #1e3a8a;
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

tr:hover {
  background: #f1f5ff;
}

.green {
  color: #16a34a;
  font-weight: bold;
}

.red {
  color: #dc2626;
  font-weight: bold;
}
