.box {
  width: 300px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: brown;
  transition: all ease-in 0.7s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.box:hover .image-1 {
  transform: translateY(-100%);
  scale: 0.5;
}

.box:hover .image-2 {
  transform: translateY(-450px);
  scale: 1.1;
}

.image-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1;
  transition: all ease-in 0.7s;
}

.image-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1;
  transition: all ease-in 0.7s;
}

.square {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 15px;
  left: 10px;
  background-color: lawngreen;
  animation: infinite;
  animation-name: green-square;
  animation-duration: 3s;
}

.circle {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 15px;
  left: 10px;
  background-color: red;
  animation-name: red-square;
  /* animation: infinite; */
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes green-square {
  0% {
    margin: 20px;
    border-radius: 0%;
  }

  25% {
    margin-left: 250px;
    margin-top: 10px;
    border-radius: 10px;
  }
  50% {
    margin-top: 450px;
    margin-left: 250px;
    border-radius: 15px;
  }
  75% {
    margin-top: 450px;
    margin-left: 10px;
    border-radius: 20px;
  }
  100% {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 0;
  }
}

@keyframes red-square {
  0% {
    margin: 10px;
  }

  25% {
    margin-left: 10px;
    margin-top: 440px;
  }
  50% {
    margin-top: 440px;
    margin-left: 250px;
  }
  75% {
    margin-top: 0%;
    margin-left: 240px;
  }
  100% {
    margin-top: 10px;
    margin-left: 10px;
  }
}
