.intro{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    width: 100%;
    display: flex;
}
.age{
    color: #fff;
    font-size: 56px;
    font-weight: 900;
}
.animation-boxes{
    width: 780px;
    height: 450px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
    position: relative;
}
.images{
    height: 150px;
    width: 260px;
    border: 1px solid #fff;
    position: relative;
}
.image{
    height: 100%;
    width: 100%;
    position: absolute;
}

.image:hover{
    scale: 1.02;
}