body{
    font-family: "Poppins", sans-serif;
    background-color: #F8F8F8;
}

.team{
    color: #ffa62b;
    font-weight: 600;
}

.qualified{
    font-size: 54px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.staff{
    width: 100%;
}

.box{
    position: relative;
}

.informations{
     background-color: white;
     padding: 15px;
     transition: 0.3s;
}

.name{
    color: #3d424a;
}

.job{
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    transition: 0.3s;
}

.social{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 100px;
    left: 15px;
    opacity: o;
    visibility: hidden;
    transition: 0.1s;
}

.social-body{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #49515c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;   
}

.box:hover>.social{
    opacity: 1;
    visibility: visible;
}

.social-body:hover{
    cursor: pointer;
    background-color: #ffa62b;
}

.box:hover>.informations{
    background-color: #ffa62b;
}

.box:hover .job{
    color: #Ffffff;
}